
    <h1>Joined Journeys</h1>
     <p>
      <div class="microsposts">
       <span class="user_name">
    	<%= render 'shared/user_info' %>   
       </span>
      </div>
     </p>
     <p>
       <br>
       (416)-999-5549 <br>
       julie.thompson@cogeco.ca
     </p>
